.grid-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: 'sidebar main-content';
  min-height: calc(100vh - 56px);
}

.sidebar {
  grid-area: sidebar;
  width: 100%;
  height: 100%;
}

.main-content {
  grid-area: main-content;
}
